main {
  width: calc(100dvw-288px);
  margin-left: 288px;
  margin-top: 48px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.table {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 3fr 1fr;
  color: white;
  border-radius: 20px;
  background-color: #3d5f93;
  padding-top: 10px;
  padding-bottom: 10px;
}

.table .header {
  font-weight: 300;
  padding: 5px 15px 10px 15px;
}

.table .item {
  color: #4a5769;
  background-color: white;
  border-bottom: solid 1px #fafbfc;
  padding: 20px;
}

.add-driver {
  width: 200px;
  background-color: #3d5f93;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-bottom: 36px;
}

.button-behave {
  cursor: pointer;
  transition: all 300ms;
}

.button-behave:hover {
  transform: scale(105%);
}

.button-behave:active {
  transform: scale(90%);
}
